@import "vars.scss";

body, html{
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
    font-family: $pilltimeFont;
    font-size: $stdFont;
}

*{
  box-sizing: border-box;
}

/**
/// DOCUMENT CLASSES
**/

.link{
  color: $pilltimePurple;
  font-weight:500;
  text-decoration: none;
  transtion: text-decoration $pilltimeMs $pilltimeEase;
  &:hover{
      color: $pilltimePurple;
      cursor:pointer;
      text-decoration: underline;
  }
}
input[disabled]{
  background:#ededed;
  color: #8c8c8c !important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: $stdWhite;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;

  font-size: 1rem;
  line-height: 1.5;
  padding: 8px 12.8px;
  border-radius: $stdBorderRad;
  min-width:100px;
  cursor:pointer;
  font-family: $pilltimeFont;
  transition: color $pilltimeMs $pilltimeEase, background-color $pilltimeMs $pilltimeEase, border-color $pilltimeMs $pilltimeEase, box-shadow $pilltimeMs $pilltimeEase;
  &-fixed{

    max-height:39px;
  }
  &-primary{
    background: $pilltimeBlue;
    color: $stdWhite;
    border: solid $pilltimeBlue 1px;
    &:hover{
      background: $stdWhite;
      color: $pilltimeBlue;
    }
  }
  &-secondary{
    background: $pilltimePurple;
    color: $stdWhite;
    border: solid $pilltimePurple 1px;
    &:hover{
      background: $stdWhite;
      color: $pilltimePurple;
    }
  }
  &-link{
    background:transparent;
    border-color:transparent;
    color: $pilltimePurple;
  }
}

.btn-group{
  max-width:100%;
  width:300px;
  margin:auto;
  margin-top:$stdMmargin;
  &-column{
    display:flex;
    flex-flow:column nowrap;
    .btn{
      margin-top:$stdMmargin;
      &:first-child{
        margin-top:initial;
      }
    }
  }

  &-row{
    .btn{
      &:first-child{
        float:left;
      }
      &:last-child{
        float: right;
      }
    }
    .btnlink{
      text-align:center;
    }
  }
}

.btn[disabled]{
  filter:grayscale(100);
  opacity:.5;
}

.form-group{
  margin:auto;
  display:flex;
  max-width:100%;
  width:300px;
  height:70px;
  flex-flow:column nowrap;
  margin-top:$stdMmargin*2;
  &:first-child{
    margin-top:0;
  }
  label{
    flex:1;
    text-align:center;
    color: $pilltimeGrey;
  }
  input:not(.btn){
    flex:1;
    max-height:40px;
    border-radius:$stdBorderRad;
    border: 1px solid #e6e7e9;
    padding:$stdMmargin/2;
  }
}

.header{
  @include flexCenter;
  text-align: center;
  font-size:$headerFont;
  color: $pilltimeGrey;
  text-decoration: underline;
}

main{
  display:inline-flex;
  border: 3px solid #f1f1f1;
  margin-top:0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size:$stdFont;
  margin:$stdMmargin*4 auto;
  display:flex;
  flex-flow:column nowrap;
  transition: all $pilltimeMs*2 $pilltimeEase;
  .operating-system-window{
    display:block;
    width:100%;
    padding: 10px;
    background: #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .dot{
      height: 12px;
      width: 12px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      &:first-child{
        background: red;
        cursor:pointer;
      }
      &:nth-child(2){
        background: orange;
      }
      &:last-child{
        background: green;
      }
    }
  }
  .container{
    padding:$stdMmargin*4 $stdMmargin*2;
    width:100%;
    height:100%;
  }
  .info-user{
    flex-basis:250px;
    max-width:250px;
    height:100%;
    background: $pilltimeLight;
    background: linear-gradient(180deg, $pilltimeLight 5%, $pilltimeBlue 50%);
    display:flex;
    flex-flow:column nowrap;
    padding: $stdMmargin/2 $stdMmargin;
    border-radius: $stdBorderRad 0 0 $stdBorderRad;
      .user-content{
        display:flex;
        &:first-child{
          flex-basis:100px;
          min-height:100px;
          max-height:100px;
          @include flexCenter;
          display:flex;
          flex-flow: row nowrap;
          .user-header{
            flex:1;
            @include flexCenter;
            &:first-child{
              flex:.8;
              img{
                border-radius:50%;
                border: solid $stdWhite 2px;
                width:50px;
                height:50px;
                padding:2px;
                display:block;
              }
            }
            &:last-child{
              color: $stdWhite;
              justify-content: flex-start;
              font-weight:600;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size:18px;
            }
          }
        }
        &:last-child{
          flex-flow: column nowrap;
          display:flex;
          flex-flow:column nowrap;
          alin-items:center;
          .form-group{
            margin-top:0;
            font-size:12px;
            box-sizing: border-box;
            flex:1;
            color: $stdWhite;
            display:flex;
            flex-flow: row nowrap;
            .label, .data{

              flex:1;
              white-space: nowrap;
              overflow: hidden;
              display:block;
              height:100%;
              text-align:left;
              text-overflow: ellipsis;
            }
            .label{
                flex:.8;
            }
          }
        }
      }
  }

  .info-waiting{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    z-index:1000;
    right:0;
    background: $pilltimeLight;
    border-radius:$stdBorderRad;
    @include flexCenter;
    color: $stdWhite;
    font-weight:600;
    font-size:$headerFont;
  }
}

main.login {
  width:700px;
}

main:not(.login) {
  display:none;
  height:950px;
  width: 1280px;
  .container{
      display:flex;
      flex-flow:row nowrap;
      padding:0;
      nav{
        position:relative;
        flex-basis:200px;
        height:100%;
        background: $pilltimeBlue;
        color:$stdWhite;
        ul{
          height:300px;
          width:100%;
          display:flex;
          flex-flow:column nowrap;
          li{
            border-bottom: solid $pilltimeGrey 1px;
            cursor:pointer;
            @include flexCenter;
            font-weight:600;
            flex-basis:70px;
            transition: background $pilltimeMs $pilltimeEase;
            &:hover, &.active{
              background: $pilltimeLight;
            }
            .nav-item{
              display:flex;
              align-items:center;
              justify-content: center;
              img{
                display:inline-block;
                height:25px;
                width:auto;
                margin-right:$stdMmargin/2;
              }
              span{
                margin-left:$stdMmargin/2;
                display:inline-block;
                line-height:0;
                height:0;
              }
            }
          }

          .user-logged{
            position:absolute;
            bottom:70px;
            min-height:140px;
            max-height:140px;
            border-color:transparent;
            left:0;
            right:0;
            @include flexCenter;
            flex-flow:column nowrap;
            span{
              text-align:center;
              font-weight:500;
              line-height: 20px;
            }
          }
          .user-logout{
            border-color:transparent;
            position:absolute;
            bottom:0;
            min-height:70px;
            max-height:70px;
            left:0;
            right:0;
          }
        }
      }
      .content{
        display:flex;
        flex-flow:column nowrap;
        width:100%;
        background:rgba(0, 147, 215, .1);
        position:relative;
        .content-wrapper{
          border: solid $pilltimeBlue 1px;
          flex:1;
          position:relative;
          display:flex;
          height:1px;
          border-radius: $stdBorderRad;
          flex-flow:column nowrap;
          margin: $stdMmargin $stdMmargin*2;
          box-sizing:border-box;
          box-shadow: 0rem 0rem 2.5rem -.5rem rgba(0,0,0,.7);
          background: $stdWhite;
          &:first-child{
            margin-top:$stdMmargin *2;
          }
          &:nth-child(2){
            margin-bottom:$stdMmargin *2;
          }

          &.content-wrapper-stockitem{
            display:none;
          }
          .header{
            flex:.4;
          }

          .info-header{
            display:flex;
            flex-flow:row nowrap;
            align-items: flex-start;
            background: $pilltimeBlue;
            padding:$stdMmargin $stdMmargin/2;
            color: $stdWhite;
            li{
              padding:0 $stdMmargin/2;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align:left;
              display:block;
              font-size:12px;
              flex:1;
              &.is-flag{
                text-align:center;
              }
            }
          }

          .info-grid{
            flex:1.6;
            border-left: solid $pilltimeBlue 6px;
            border-right: solid $pilltimeBlue 6px;
            overflow: -moz-scrollbars-vertical;
            overflow: scroll;
            position:relative;
            table{
              width:100%;
              margin:0;
              tr{
                padding: $stdMmargin/2 0;
                cursor:pointer;
                display:flex;
                flex-flow:row nowrap;
                align-items: flex-start;
                border: solid transparent 2px;
                border-left:none;
                border-right:none;
                &:nth-child(odd){
                  background:$stdWhite;
                }
                &:nth-child(even){
                  background: $pilltimeLight;
                  color: $stdWhite;
                }
                &:hover{
                  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
                  border-color: $pilltimePurple;
                }
                th, td{

                  padding:0 $stdMmargin/2;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  text-align:left;
                  display:block;
                  font-size:12px;
                  flex:1;
                  border:none;
                  height:17px;
                  line-height:16px;
                  &.is-flag{
                    text-align:center;
                  }
                  img{
                    height:15px;
                    border-radius:50%;
                    background:$stdWhite;
                    width:auto;
                  }
                }
              }
            }
          }

          /*
          .statistics{
            flex:1;
            position:relative;
            .statistics-bar{
              border-radius: $stdBorderRad;
              width:70%;
              height:60px;
              @include trueCenter;
            }
          }
          */
        }
      }
    }
}

main.orders-1{
  .container .content{

    .content-wrapper{
      display:flex;
      flex-flow:row nowrap;

      .info-rx{
        display:flex;
        flex-flow:column nowrap;
        height:100%;
        flex:1;
        .rx-content{
          flex:1.6;
          display:flex;
          flex-flow:row wrap;
          justify-content: space-evenly;
          .rx-package{
            cursor:pointer;
            margin: 0 $stdMmargin/2;
            flex-basis:150px;
            height:150px;
            flex-grow: 0;
            flex-shrink: 0;
            display:flex;
            border: solid $pilltimeBlue 2px;
            border-radius: $stdBorderRad;
            flex-flow:column nowrap;

            background:$pilltimeBlue;
            transition: all $pilltimeMs $pilltimeEase;
            &:hover{
              border-color: $successGreen;
              background:transparent;
            }
            &.selected{
              border-color: $successGreen;
              background:$successGreen;
            }
            &-icon{
              box-sizing:border-box;
              flex:1;
              @include flexCenter;
              img{
                height:80px;
                width:auto;
              }
            }
            &-name{
              border-radius: 0 0 $stdBorderRad $stdBorderRad;
              background:$stdWhite;
              flex-basis:30px;
              min-height:30px;
              @include flexCenter;
              text-align:center;
            }
          }
        }

        .btn-order-send{
          position:absolute;
          bottom:$stdMmargin;
          right:$stdMmargin;
          &:not(.active){
            display:none;
          }
        }
      }

      &-scan{
        flex:1.4;
      }
      &-postage, &-edistock{
        .info-rx-reprint{
          z-index:100;
          position:absolute;
          bottom:0;
          left:0;
          right:0;
          background:$pilltimeLight;
          .btn{
            float:right;
            margin:$stdMmargin;
          }
        }
        .info-user{
          z-index:200;

          max-height: 287px;
          background: $pilltimeLight;
          background: linear-gradient(180deg, $pilltimeBlue 5%, $pilltimeLight 50%);
          .user-instructions{
            color: $stdWhite;
            font-weight:600;
            text-transform: uppercase;
            flex-flow:column nowrap;
            flex:1;
            @include flexCenter;
            img{
              width:80%;
              height:auto;
              border-radius: $stdBorderRad;
              border: solid $stdWhite 2px;
            }
            span{

              text-shadow: 0px 0px 10px $pilltimeBlue;
              padding:$stdMmargin/2 0;
              text-align:center;
              width:80%;
            }

          }
          .user-nextstep{
            flex-basis:100px;
            min-height:100px;
            max-height:100px;
            @include flexCenter;
            .btn{
              text-transform: uppercase;
              font-weight:600;
            }
            label{
              padding: $stdMmargin/2;
              color:$stdWhite;
              text-shadow: 0px 0px 10px rgba(112, 33, 128, .5);
              font-size:12px;
              text-transform:uppercase;
              font-weight:600;
              width:100px;
              text-align:left;
            }
            input{
            }
          }
        }

        .info-rx{
          background: url(/public/res/pdf_example.png) center center no-repeat;
          background-size: cover;
          border-radius: 0 $stdBorderRad $stdBorderRad 0;
        }
      }
      &-final{
        @include flexCenter;
        flex:1;
        background: $pilltimeLight;
        color: $stdWhite;
        z-index:2000;
        position:relative;
        .order-complete{
          font-size:$headerFont;
        }
        .content-container{
          display:flex;
          flex-flow:column nowrap;
          .info-final-header{
            padding:$stdMmargin;
            font-size:$headerFont;
          }
          .info-final-list{
            height:300px;
            width:400px;
            padding:$stdMmargin;
            li{
              font-size:$subheaderFont;
              padding:$stdMmargin 0;
              display:none;
            }
            li.ready{
              display:flex;
            }
            li.complete::after{
              content:'✔';
              display:inline;
              color:$stdWhite;
              margin-left:$stdMmargin;

            }
          }
        }
      }
    }
  }
}

main.stock-1{
  .container .content{

    .content-wrapper{
      &-editstock{
        display:flex;
        flex-flow:row nowrap;
        .info-user{
          img{
            padding:5px;
          }
        }
        .info-pharm{
          flex:1;
          display:flex;
          flex-flow: row nowrap;
          &-container{
            flex:1;
            .form-group{
              margin-top:$stdMmargin;
              display:flex;
              height:50px;

              padding:4px;
              label{
                text-transform: capitalize;
                flex:2;
                text-align:left;
                padding-left:$stdMmargin/2;
                line-height:2.6rem;
              }
              input{
                flex:1.2;
                padding:4px;
                color:#545454;
                padding-left:$stdMmargin/2;
              }
              &--save{
                display:block !important;
                padding-top:$stdMmargin/1.5;
                padding-right:0;
                .btn{
                  margin-right:0;
                  float:right;
                  transform:scale(.9);
                }
                .saved-info{
                  float:left;
                  display:flex;
                  opacity:0;
                  align-items: center;
                  height:100%;
                  font-size:16px;
                  opacity:0;
                  width:calc(100% - 100px);
                  justify-content: center;
                  color:$successGreen;
                  &.saved{
                    animation:save-this 5s ease-in-out 1;
                    @keyframes save-this{
                      0% {opacity:0;}
                      5% {opacity:.7}
                      60% {opacity:.7};
                      80%{opacity:0}
                    }
                  }
                }
              }
              &--cancel{
                display:block !important;
                padding-top:$stdMmargin/1.5;
                padding-left:0;
                .btn{
                  margin-left:0;
                  float:left;
                  transform:scale(.9);
                }
              }
            }
          }
        }
      }

      &:last-child{
        flex:.65;
      }
    }
  }
}

main.reports-1 {
  .container .content{
    .content-wrapper{
      &-graph{
        canvas{
          width:90% !important;
          height:80% !important;
          padding:$stdMmargin $stdMmargin*4;
          margin:auto;
        }
      }
      &-map{
      }
    }
  }
}

/**
/// HELPER CLASSES
**/


@keyframes filter-open{
  from {opacity:0; transform: translateY(-$stdMmargin);}
  to {opacity:1; transform: translateY(0);}
}
.tooltip{
  &-help{
    right:$stdMmargin;
      img{
        height:80%;
        width:auto;
      }
  }
  &-filter{
    z-index:100;
    position:relative;
    left:$stdMmargin;
      img{
        height:60%;
        width:auto;
      }
    .filter-nav{
      &.open{
        display:flex;
        animation-direction:normal;
        animation: filter-open $pilltimeMs $pilltimeEase 1;
      }
      display:none;
      font-size:12px;
      width:220px;
      height:280px;
      border-radius:$stdBorderRad;
      color:$pilltimeGrey;
      font-weight:500;
      position:absolute;
      top:$stdMmargin*4;
      left:0;
      background:#ffffff;
      flex-flow:column nowrap;
      box-shadow: 0rem 0rem 2.5rem -.5rem rgba(0,0,0,.5);
      border: solid $pilltimeBlue 1px;
      padding:$stdMmargin $stdMmargin*2;
      .filter-nav-item{
        display:flex;
        flex-flow:row nowrap;
        align-items: center;
        flex:1;
        max-height:50px;
        padding:0 $stdMmargin;
        .filter-header{
          color: $pilltimeBlue;
          font-size:16px;
          &:last-child{
            margin-top:$stdMmargin;
          }
        }
        input[type="checkbox"]{
          flex-basis:0;
          position:relative;
          color: $pilltimeBlue;
          transform:scale(1.25);
          cursor:pointer;
          z-index:200;
        }
        select{
          width:100%;
        }
        label{
          flex:1;
        }
      }
    }
  }
  &-graph{
    .filter-nav{

      max-height:160px;
    }
  }
  position: absolute;
  top:$stdMmargin;
  width:36px;
  cursor:pointer;
  height:36px;
  @include flexCenter;
  span {
    position: absolute;
    width: 190px;
    color: #ffffff;
    background: #000000;
    height: 60px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      margin-left: 160px;
      width: 0;
      height: 0;
      border-top: 8px solid #000000;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
    }
  }
  &:hover {
    span {
      visibility: visible;
      opacity: 0.8;
      bottom: 40px;
      left: 20%;
      margin-left: -200px;
      z-index: 999;
    }
  }
}

.meter {
	height: 20px;  /* Can be anything */
	position: relative;
	background: transparent;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
  z-index: 1;
  background-size: 50px 50px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position:relative;
  z-index:100;
  span {
    width:70%;
    background-color: $pilltimeLight;
    background-image: linear-gradient(to bottom, $pilltimeLight, $pilltimeBlue);
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    animation: move 2s linear infinite;
    overflow: hidden;

  }
  &:first-child::after, &:last-child::after{
    color: $pilltimeGrey;
    display:block;
    position:absolute;
    right:50%;
    bottom:50%;
    top:-10px;
    z-index:200;
    content: "147/812";
  }
}



[invisible]{
    opacity:0;
}

.flex-center{
    @include flexCenter;
}

.true-center{
    @include trueCenter;
}

.curved{
    border-radius:$stdBorderRad;
}

strong{
  font-weight:600;
}

.hidden, [hidden]{
  position:initial;
  display:none;
}
