$stdMmargin: 12px;
$headerFont: 28px;
$subheaderFont: 20px;
$stdFont: 14px;
$stdBorderRad: 4px;

$pilltimeBlue: #0093D7;
$pilltimeBlue-Rgba: rgba(0, 147, 215, 1);
$pilltimeLight:#7BCAEE;
$pilltimePurple: #702180;
$pilltimeGrey: #979798;
$nhsBlue: #005EB8;
$stdWhite: #ffffff;
$successGreen: #4BAF5D;
$waitingOrange: #ff8800;
$errorRed: #bd0000;

$pilltimeEase: cubic-bezier(.27,.27,.19,.92);
$pilltimeMs: 400ms;

$pilltimeFont: 'Montserrat', sans-serif;

@mixin trueCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter {
  display:flex;
  align-items:center;
  justify-content:center;
}
